.filter-toggle-group {
    width: 100%;
    justify-content: end;
}

.filter-toggle-group > button {
    flex-grow: 1;
}

.bug-filter-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.bug-filter-status-entry {
    display: flex;
}

.bug-filter-status-icon {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.bug-filter-status-icon > .MuiSvgIcon-root {
    width: .8rem;
    height: .8rem;
}

.bug-project-filter-container {
    width: 50%;
}

.bug-project-filter-container > .MuiFormControl-root {
    margin: 0;
}
