.bugs-status-container {
    grid-area: status;
    display: flex;
    flex-direction: column;
}

.status-percents-container {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.status-graph-container {
    display: inline-flex;
    position: relative;
    height: fit-content;
    justify-content: center;
}

.status-graph-text {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 913px) {
    .bugs-list-status-circle {
        height: 5em !important;
        width: 5em !important;
    }

    .status-percents-container {
        flex-grow: 1;
        align-items: center;
    }

    .status-graph-text > * {
        font-size: .75rem !important;
    }
}

@media screen and (max-width: 440px) {
    .status-percents-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
