.filter-toggle-container {
    width: 100%;
    justify-content: end;
}

@media screen and (max-width: 450px) {
    .filter-toggle-container {
        display: flex;
        flex-direction: column;
    }

    .filter-toggle-container > button:not(:last-of-type) {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }

    .filter-toggle-container > button:not(:first-of-type) {
        margin-left: unset !important;
        border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }
}